﻿@{
    ViewData["Title"] = "Ask The Bot";
}
<div class="ui container fluid">
    <img src="~/Content/robot.png" />
</div>
<div class="ui container fluid">
    <div class="ui grid stackable" >

    <div class="three column row">
        <div class="column sidepanel">

            <p>
                Bot has been created using SIML (Synthetic Intelligence Markup Language). The underlaying brain is a merge of
                <a href="https://github.com/pandorabots/rosie">Rosie bot</a> .siml files and also <a href="https://github.com/SynHub/siml-english-base">Full English Knowledge-Base template for SIML Projects</a>
                library. On top of that there are many custom made changes in the patterns to improve the bot's capabilities.
            </p>
            <p>Robot is equipped with basic learning and memorizing capabilities although those are still under development</p>

        </div>


        <div class="column" id="context">
            <div id="messageBox" class="ui action input fluid">
                <input id="messageInput" type="text" placeholder="What do you want to ask?">
                <button class="ui darkcyan button" ng-click="sendMessage()">Ask The Bot</button>
            </div>
            <div id="messageContainer">
                <p class="message" ng-class="{'otherMessage' : msg.user != 'You'}" ng-repeat="msg in messages"><span class="sender">{{msg.user}}:</span>{{msg.message}}</p>
            </div>
        </div>

        <div class="column sidepanel">

            <p>
                Bot's brain is under continous development. If you noticed some strange behavior or bug please report it. If you would like to contribute to the Bot's knowledge base, please <a href="mailto:krzysztof@ciepka.com" target="_top">contact me</a> to get the SIML project files used in the application logic.
                If you know about any high quality SIML or AIML libraries that could extend the Bot's knowledge base also please don't hesitate to contact.
            </p>


        </div>
       

    </div>
       




</div></div>