﻿<!DOCTYPE html>
<html ng-app="talkToTheBotApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @*@Styles.Render("~/Content/css")*@
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" type="text/css" href="~/Content/semantic/dist/semantic.css">
    <link rel="stylesheet" href="~/Content/site.css" />


</head>
<body ng-controller="botController">
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.1.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Content/semantic/dist/semantic.js"></script>
    <script src="~/Scripts/site.js"></script>

    <div id="topBar" class="ui top inverted fixed menu">
        <a class="item brand" href="#">
            Ask The Bot
        </a>

        <a class="item floated right" href="#">
            Developed by Krzysztof Ciępka &copy
        </a>
    </div>
    @RenderBody()
    <div class="ui segment inverted" id="footer">
        <span>Copyright &copy; All rights reserved</span>
    </div>
    @*@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
</body>
</html>
